.work-component {
    margin-left: 30px;
}

.work-component h1 {
    font-size: 3em;
    margin-left: 30px;
}

.wrok-container {
    position: relative;
    display: inline-block;
    margin: 30px;
}

.wrok-container img {
    width: 400px;
    height: 400px;
    display: block;
    border-radius: 10px;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    background-color: #202020;
    border-radius: 10px;
}

.text-content {
    color: #fff;
    mix-blend-mode: difference;
}

.dash1 {
    width: 20px;
    height: 2px;
    color: #fff;
    background-color: rgb(43, 43, 247);
    margin-left: 10px;
}

.dash {
    width: 20px;
    height: 2px;
    color: #dad7d7;
    background-color: rgb(240, 240, 247);
    margin-left: 10px;
}

.dash-container {
    display: flex;
    align-items: center;
    justify-content: center;
}